:root {
    --background-col: #f0f0f0;
    --text-col: #333;
    --primary-button-col: #007bff;
    --secondary-button-col: #6c757d;
    --accent-col: #ff7f50;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-col);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2.5em 2em;
    box-sizing: border-box;
}

.navbar h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    color: var(--accent-col);
}

.navbar a {
    text-decoration: none;
    color: var(--text-col);
    font-size: 1.5em;
}

.navbar a:hover {
    color: var(--accent-col);
}

#menu {
    background-color: var(--accent-col);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 100;
}

#menu a {
    color: var(--background-col);
    font-size: 3em;
    margin: 0.5em;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

#menu #close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    font-size: 2em;
    color: var(--background-col);
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    box-sizing: border-box;
    display: none;
    margin-bottom: 2em;
}

.mobile-navbar #menu-btn {
    font-size: 2em;
    color: var(--text-col);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.mobile-navbar h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    color: var(--accent-col);
}

@media only screen and (max-width: 850px) {
    .navbar {
        display: none;
    }

    .mobile-navbar {
        display: flex;
    }
}

#canvas {
    width: 100%;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50vh;
    width: 100%;
    gap: 1em;
    margin-top: 1em;
}

.hero-section > * {
    margin: 0;
    padding: 0;
    width: 40vw;
}

.hero-section h1 {
    font-size: 5em;
    color: var(--text-col);
    margin: 0;
    padding: 0;
}

.hero-section h2 {
    font-size: 2em;
    color: var(--text-col);
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.hero-section button {
    font-size: 1.5em;
    color: var(--background-col);
    border: none;
    outline: none;
    padding: 0.25em 1em;
    cursor: pointer;
    margin-top: 1em;
}

.hero-section #primary {
    background-color: var(--primary-button-col);
    border: 2px solid var(--primary-button-col);
}

.hero-section #primary:hover {
    background-color: transparent;
    color: var(--primary-button-col);
}

.hero-section #secondary {
    background-color: var(--secondary-button-col);
    border: 2px solid var(--secondary-button-col);
}

.hero-section #secondary:hover {
    background-color: transparent;
    color: var(--secondary-button-col);
}

@media only screen and (max-width: 850px) {
    .hero-section {
        flex-direction: column;
        height: auto;
    }

    .hero-section > * {
        width: 90%;
        text-align: center;
    }
}

#colours-change {
    position: fixed;
    right: 0.5em;
    bottom: 0.75em;
    font-size: 1.75em;
    border-radius: 100vh;
    width: 1.75em;
    height: 1.75em;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--accent-col);
    color: var(--background-col);
    z-index: 2;
}

.colour-options {
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100vh;
    border: 1px solid var(--text-col);
    padding-top: .5em;
    padding-bottom: .25em;
    z-index: 1;
    background-color: var(--background-col);
    color: var(--text-col);
}

@media only screen and (max-width: 850px) {
    .colour-options {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        flex-direction: column;
        gap: 0.5em;
        border-radius: 0;
        border: none;
        background-color: var(--text-col);
        width: 100%;
        height: 100%;
        transform: translateX(0);
        justify-content: center;
        align-items: center;
        color: var(--background-col);
    }

    .colour-options > * {
        margin-left: 0 !important;
    }

    #colours-change {
        display: block;
    }
}

.colour-options h2:hover {
    color: var(--accent-col);
}

@media only screen and (min-width: 851px) {
    .colour-options {
        position: fixed;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 100vh;
        border: 1px solid var(--text-col);
        padding-top: .5em;
        padding-bottom: .25em;
        background-color: var(--background-col);
        color: var(--text-col);
    }

    #colours-change {
        display: none;
    }
}

.colour-options > * {
    margin-right: 1em;
}

.colour-options h2 {
    font-weight: 100;
    display: inline;
    cursor: pointer;
    font-size: 1.5em;
}

.colour-options .option {
    margin-bottom: 0.5em;
}

.colour-options input {
    border: 1px solid var(--background-col);
    background-color: transparent;
    visibility: hidden;
    position: absolute;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 2em;
    margin: 2em 1em;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.25em;
    background-color: hsl(from var(--background-col) h s calc(l * 0.9));
} 

@media only screen and (max-width: 600px) {
    .card {
        width: 90%;
    }

}

.card .bg {
    width: 100%;
    height: 200px;
    background-color: var(--accent-col);
}

.card h1 {
    font-size: 2em;
    color: var(--accent-col);
    margin: 0;
    padding: 0;
}

.card h2 {
    font-weight: 100;
    font-size: 1.25em;
    color: var(--text-col);
    margin: 0;
    padding: 0;
}

.card .content {
    margin-top: 1em;
}

.accordion {
    margin: 1em 0.5em;
    font-size: 1.5em;
}

.accordion > * {
    margin-bottom: 1em;
}

.accordion:last-child {
    margin-bottom: 0;
}

.acc .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-col);
}

@media only screen and (max-width: 600px) {
    .acc .answer {
        width: 100%;
    }
}

.acc .question {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    position: relative;
    background-color: var(--accent-col);
    border-radius: 0.5em;
    cursor: pointer;
    color: var(--background-col);
}

.acc .question .acc-btn {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-col);
}

.acc .question:hover > .acc-btn {
    color: var(--background-col);
}

.chart-container {
    color: var(--text-col);
    text-align: center;
    margin-top: 3em;
}

.chart-container > * {
    margin: 0;
    padding: 0;
}

.chart-container h1 {
    font-size: 5em;
    color: var(--accent-col);
}

.chart-container h2 {
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 1em;
}

.acc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

.acc-container > * {
    width: 40%;
}

.acc-container h1 {
    font-size: 5em;
    color: var(--accent-col);
    margin: 0;
    padding: 0;
}

.acc-container h2 {
    font-size: 2em;
    font-weight: 100;
    color: var(--text-col);
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 850px) {
    .acc-container {
        flex-direction: column;
    }

    .acc-container > * {
        width: 90%;
    }
}